h1{
    text-align: center;
    color:magenta;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    background-color: darkorchid;
    

}

.logo{
    border-radius: 30px;
    width: 275%;
    margin-left: auto;
    margin-right: auto;


    
}

h3{
    background-color: lightcoral;
    font-size: 14px;


}





.dropbtn {
    background-color: yellow;
  }
  
